<% include ./partials/header %>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-sm">
            <img src="img/1.jpg" height="400" width="400" alt="">
      </div>
    <div class="col-sm">
      <h1>Kan Bağışının Önemi Nedir?</h1>
      <p>Tüm dünya için kan bağışı oldukça önemlidir. İnsanların ihtiyaç duyduğu kan bulunamadığı takdirde ölümler olabilmektedir. Kimin ne zaman kana ihtiyacı olduğu bilinmemektedir. Her an herkesin başına gelebilecek küçük bir kazayla kan kaybı yaşanabilir
        ve kan ihtiyacı doğabilir. Kan bağışı belirli süre zarfında yapılıp kullanılmalıdır çünkü bir süre sonra bağışlanan kan kullanılamamaktadır. Ülkemizde de kan bağışı yapanların sayısı oldukça azdır. Kan bağışı ile kandan bakılarak teşhis edilen problemleri
        öğrenebilirsiniz. 1 litre kan verdiğinizde kanınızda bir hastalıkla ilgili belirti bulunduğunda bu durum telefonla bildirilmektedir. Kızılay bağışlanan kanları toplayarak kan merkezlerine göndermekte ve ihtiyacı olanlara transfer etmektedir. Düzenli
        kan bağışı yapan insanların sayısı oldukça az olduğundan gereken kan bulunamamaktadır. Oysa kan vermek sadece ihtiyacı olanın yararına değil kan veren kişinin de yararınadır. Vücut kan verince rahatlar ve bazı değerler dengelenir. Kan bağışı konusunda
        herkes bilinçlenmeli ve bir insan yılda ortalama 3 kez kan vermelidir. </p>
    </div>
        </div>
    </div>


  <% include ./partials/footer %>
